
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151rem;
}.desktop-2-tbE {
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .auto-group-gljp-RLG {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-7gmz-xb6 {
      margin: 5.1rem 246.2rem 0rem 0rem;
      width: 152.9rem;
      height: 163.6rem;
      position: relative;
      flex-shrink: 0;

      .pricing-services-resources-community-rwN {
        width: 39.9rem;
        height: 4.8rem;
        position: absolute;
        top: 0;
        text-transform: uppercase;
        font-family: Josefin Sans, 'Source Sans Pro';
        left: 13rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 3;
        color: #000000;
        white-space: nowrap;
      }
      .login-LLk {
        font-size: 1.6rem;
        font-family: Josefin Sans, 'Source Sans Pro';
        white-space: nowrap;
        width: 5.4rem;
        height: 4.8rem;
        position: absolute;
        left: 113.9rem;
        top: 0;
        font-weight: 400;
        line-height: 3;
        text-transform: uppercase;
        color: #000000;
      }
      .group-42-QLc {
        width: 10.8rem;
        height: 4.8rem;
        position: absolute;
        left: 126.3rem;
        top: 0;
        border-radius: 20rem;

        .group-41-vpk {
          width: 10.8rem;
          height: 3rem;
          position: absolute;
          left: 0;
          top: 0.9rem;
          border-radius: 20rem;

          .rectangle-9-GNp {
            width: 100%;
            height: 3rem;
            background-color: rgba(247, 131, 7, 0.7099999785);
            border-radius: 20rem;
          }
        }
        .get-start-j9v {
          text-transform: uppercase;
          white-space: nowrap;
          position: absolute;
          top: 0;
          line-height: 3;
          font-size: 1.6rem;
          font-weight: 400;
          color: #000000;
          font-family: Josefin Sans, 'Source Sans Pro';
          width: 8.5rem;
          height: 4.8rem;
          left: 1.4rem;
        }
      }
      .group-97-px4 {
        width: 145.5rem;
        height: 57.3rem;
        position: absolute;
        box-sizing: border-box;
        left: 0;
        top: 0;
        background-color: rgba(247, 131, 7, 0.1599999964);
        border-radius: 0 0 30rem 0;
        padding: 0.5rem 60.2rem 0.5rem 64.8rem;

        .image-5-x2g {
          width: 20.5rem;
          height: 17.1rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .group-45-57J {
        width: 15.3rem;
        height: 82.3rem;
        left: 13rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 46.4rem;
        border-radius: 20rem;

        .group-44-c7E {
          flex-shrink: 0;
          margin-bottom: 72.1rem;
          width: 100%;
          border-radius: 20rem;

          .rectangle-10-97A {
            height: 5.4rem;
            background-color: #f89b36;
            border-radius: 20rem;
            width: 100%;
          }
        }
        .contact-us-5Wc {
          font-weight: 400;
          font-family: Josefin Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 0.2rem;
          font-size: 2rem;
          line-height: 2.4;
          text-transform: uppercase;
          color: #000000;
          flex-shrink: 0;
        }
      }
      .rectangle-12-muE {
        top: 105.3rem;
        background-color: #ffffff;
        width: 145.5rem;
        height: 58.3rem;
        position: absolute;
        left: 0;
      }
      .group-46-KQx {
        align-items: flex-start;
        width: 121.7rem;
        height: 48.6rem;
        position: absolute;
        left: 13rem;
        top: 110.4rem;
        display: flex;

        .image-9-TGG {
          margin-right: 5.2rem;
          width: 66.5rem;
          height: 48.6rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-m2uu-CDr {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .who-we-are-wSL {
            font-size: 4.8rem;
            font-family: Josefin Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            color: #000000;
            margin-bottom: 0.8rem;
            font-weight: 500;
            line-height: 1;
            text-transform: capitalize;
          }
          .we-are-a-boutique-accountancy-firm-providing-best-in-class-services-to-clients-from-financial-services-hotel-and-catering-healthcare-retail-off-licenses-construction-and-engineering-information-technology-and-many-more-with-more-than-10-years-of-experience-our-professionals-are-experts-in-all-areas-sole-traders-subcontractors-self-assessment-accounts-personal-tax-returns-limited-companies-accounts-bookkeeping-management-accounts-cis-returns-vat-returns-etc-whether-you-are-self-employed-contractor-small-to-medium-enterprise-or-large-organization-we-are-committed-to-assist-you-with-our-differentiated-solutions-and-services-at-numericalz-we-believe-that-nobody-understands-your-business-better-than-you-do-and-wed-rather-be-your-partners-than-preachers-wed-be-privileged-to-embark-on-a-long-and-strong-journey-with-you-contact-us-today-for-a-free-consultation-and-lets-find-ways-to-make-accounting-a-smooth-sail-for-you-UBN {
            max-width: 50rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.6025;
            color: #000000;
            font-family: Jomolhari, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
      .group-96-Arp {
        display: flex;
        align-items: center;
        width: 136.2rem;
        height: 45.1rem;
        position: absolute;
        left: 16.7rem;
        top: 12rem;

        .numericalz-is-a-modern-accountancy-firm-committed-to-your-success-6kU {
          color: #2e3192;
          margin: 3.3rem 12rem 0rem 0rem;
          font-size: 3.2rem;
          text-transform: uppercase;
          font-family: Josefin Sans, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 71.9rem;
          font-weight: 400;
          line-height: 1.5;

          .numericalz-is-a-modern-accountancy-firm-committed-to-your-success-6kU-sub-0 {
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.5;
            text-transform: uppercase;
            color: #2e3192;
            font-family: Josefin Sans, 'Source Sans Pro';
          }
          .numericalz-is-a-modern-accountancy-firm-committed-to-your-success-6kU-sub-1 {
          }
        }
        .image-2-NrQ {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 52.3rem;
          height: 45.1rem;
        }
      }
      .contact-us-hdn {
        color: #000000;
        width: 13.1rem;
        height: 4.8rem;
        position: absolute;
        top: 47rem;
        font-weight: 700;
        white-space: nowrap;
        left: 14.1rem;
        font-size: 2rem;
        line-height: 2.4;
        text-transform: uppercase;
        font-family: Josefin Sans, 'Source Sans Pro';
      }
      .numericalz-cEx {
        font-size: 4rem;
        font-weight: 700;
        color: #000000;
        font-family: Josefin Sans, 'Source Sans Pro';
        left: 61.7rem;
        height: 5.5rem;
        position: absolute;
        top: 58.4rem;
        line-height: 1.375;
        text-transform: uppercase;
        white-space: nowrap;
        width: 28rem;
      }
      .group-95-6R2 {
        height: 55.8rem;
        position: absolute;
        left: 13.1rem;
        top: 57.1rem;
        width: 122.8rem;

        .group-94-1nt {
          width: 122.8rem;
          height: 55.6rem;
          position: absolute;
          left: 0;
          top: 0.2rem;

          .image-21-m1N {
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 118.5rem;
            height: 55.6rem;
            position: absolute;
          }
          .group-93-75E {
            display: flex;
            flex-direction: column;
            width: 121.7rem;
            height: 33.4rem;
            position: absolute;
            left: 1.1rem;
            top: 14.6rem;
            align-items: flex-end;

            .group-90-dpG {
              height: 26rem;
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;
              margin-bottom: 2.6rem;
              width: 100%;

              .group-89-ydE {
                margin-right: 20.3rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .image-7-8FE {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 7.7rem;
                  width: 38.9rem;
                  height: 26rem;
                  object-fit: cover;
                }
                .image-6-fW4 {
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 26rem;
                  height: 26rem;
                  object-fit: cover;
                }
              }
              .image-8-cRJ {
                width: 28.8rem;
                height: 25.5rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .group-92-MNt {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 0.5rem 0rem 12.7rem;
              width: calc(100% - 13.2rem);
              height: 4.8rem;

              .group-91-UCc {
                margin-right: 16.5rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .agility-Dfz {
                  margin-right: 20.2rem;
                  font-size: 3.6rem;
                  font-weight: 400;
                  line-height: 1.3333333333;
                  text-transform: uppercase;
                  flex-shrink: 0;
                  color: #000000;
                  font-family: Josefin Sans, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .adaptability-93r {
                  text-transform: uppercase;
                  color: #000000;
                  font-family: Josefin Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 3.6rem;
                  font-weight: 400;
                  line-height: 1.3333333333;
                }
              }
              .approachibility-TqE {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 3.6rem;
                font-weight: 400;
                line-height: 1.3333333333;
                text-transform: uppercase;
                color: #000000;
                font-family: Josefin Sans, 'Source Sans Pro';
              }
            }
          }
        }
        .line-7-C28 {
          width: 0.1rem;
          height: 48.2rem;
          position: absolute;
          left: 43.4rem;
          top: 0;
          background-color: #1e1e1e;
        }
        .line-8-XKJ {
          width: 0.1rem;
          height: 48.2rem;
          position: absolute;
          left: 83.8rem;
          top: 0;
          background-color: #1e1e1e;
        }
      }
    }
    .rectangle-11-TTr {
      margin-right: 89.4rem;
      width: 145.5rem;
      height: 39rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .image-3-b4G {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 45.7rem;
      width: 52.2rem;
      height: 48.8rem;
    }
  }
  .auto-group-7mpa-ieg {
    box-sizing: border-box;
    padding-bottom: 5.1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .group-62-TcG {
      margin: 0rem 19.16rem 2.3rem 12.9rem;
      width: calc(100% - 32.0599rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .who-we-help-nPe {
        font-size: 6.4rem;
        font-weight: 500;
        line-height: 0.75;
        font-family: Josefin Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 5.9rem 10.26rem;
        text-transform: capitalize;
        color: #000000;
      }
      .group-61-tha {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 6.6841rem;
        width: 100%;

        .auto-group-iivg-Sj6 {
          width: 100%;
          height: 12.1311rem;
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .auto-group-fqec-PeL {
            margin-right: 12.9457rem;
            width: 61.6543rem;
            height: 11.5768rem;
            position: relative;
            flex-shrink: 0;

            .individuals-freelancers-KXz {
              font-size: 3.6rem;
              font-weight: 500;
              color: #000000;
              white-space: nowrap;
              height: 4.8rem;
              position: absolute;
              top: 0;
              line-height: 1.3333333333;
              text-transform: capitalize;
              font-family: Josefin Sans, 'Source Sans Pro';
              width: 55.3rem;
              left: 6.3543rem;
            }
            .group-52-dHn {
              display: flex;
              align-items: flex-start;
              width: 40.9543rem;
              height: 5.3159rem;
              position: absolute;
              left: 0;
              top: 6.2609rem;

              .mask-group-Yfe {
                flex-shrink: 0;
                margin-right: 1.7423rem;
                width: 4.612rem;
                height: 5.3159rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
              }
              .subcontractors-HNL {
                font-family: Josefin Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 3.6rem;
                font-weight: 500;
                line-height: 1.3333333333;
                text-transform: capitalize;
                color: #000000;
              }
            }
            .group-88-DWt {
              width: 5.3966rem;
              height: 6.1899rem;
              position: absolute;
              left: 0.6952rem;
              top: 1.6089rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .auto-group-7k6g-YJG {
            margin-bottom: 0.0311rem;
            width: 44.3401rem;
            height: calc(100% - 0.0311rem);
            flex-shrink: 0;

            .group-51-5JC {
              width: 100%;
              display: flex;
              align-items: flex-end;
              margin-bottom: 1.0543rem;

              .mask-group-dac {
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 1.528rem 0.184rem 0rem;
                width: 4.612rem;
                height: 5.3159rem;
                position: relative;
                object-fit: contain;
              }
              .limited-companies-ZDN {
                flex-shrink: 0;
                font-size: 3.6rem;
                font-weight: 500;
                line-height: 1.3333333333;
                text-transform: capitalize;
                color: #000000;
                font-family: Josefin Sans, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .group-53-5xQ {
              margin-right: 11.2401rem;
              width: calc(100% - 11.2401rem);
              display: flex;
              align-items: flex-end;

              .mask-group-2ck {
                flex-shrink: 0;
                margin: 0rem 1.488rem 0.23rem 0rem;
                width: 4.612rem;
                height: 5.3159rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
              }
              .sale-traders-m4Y {
                color: #000000;
                font-family: Josefin Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 3.6rem;
                font-weight: 500;
                line-height: 1.3333333333;
                text-transform: capitalize;
              }
            }
          }
        }
        .auto-group-qk1i-hD6 {
          padding-top: 1.2689rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;

          .auto-group-zgu2-2mA {
            margin: 0rem 15.14rem 1.89rem 0rem;
            width: calc(100% - 15.1401rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .group-54-mTr {
              align-items: flex-start;
              flex-shrink: 0;
              margin: 0.385rem 49.2rem 0rem 0rem;
              display: flex;

              .mask-group-Jya {
                flex-shrink: 0;
                margin-right: 1.788rem;
                width: 4.612rem;
                height: 5.3159rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
              }
              .start-ups-rEQ {
                text-transform: capitalize;
                color: #000000;
                font-family: Josefin Sans, 'Source Sans Pro';
                white-space: nowrap;
                margin-top: 0.115rem;
                font-size: 3.6rem;
                line-height: 1.3333333333;
                font-weight: 500;
                flex-shrink: 0;
              }
            }
            .group-60-aRJ {
              margin-bottom: 0.385rem;
              display: flex;
              align-items: flex-end;
              flex-shrink: 0;

              .mask-group-XrL {
                height: 5.3159rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.488rem;
                width: 4.612rem;
              }
              .landlords-5cx {
                line-height: 1.3333333333;
                text-transform: capitalize;
                color: #000000;
                font-family: Josefin Sans, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 0.0159rem;
                font-size: 3.6rem;
                font-weight: 500;
                flex-shrink: 0;
              }
            }
          }
          .auto-group-aynl-QfE {
            width: calc(100% - 1.6857rem);
            height: 5.3249rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 1.686rem 2.235rem 0rem;

            .group-55-8bE {
              margin: 0rem 11.746rem 0.009rem 0rem;
              height: calc(100% - 0.0091rem);
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .mask-group-4zg {
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.7423rem;
                width: 4.612rem;
                height: 5.3159rem;
                position: relative;
                object-fit: contain;
              }
              .small-medium-businesses-QHr {
                font-size: 3.6rem;
                font-weight: 500;
                line-height: 1.3333333333;
                text-transform: capitalize;
                color: #000000;
                font-family: Josefin Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .group-57-LSQ {
              align-items: flex-start;
              flex-shrink: 0;
              margin-top: 0.0091rem;
              height: calc(100% - 0.0091rem);
              display: flex;

              .mask-group-VKJ {
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.7423rem;
                width: 4.612rem;
                height: 5.3159rem;
                position: relative;
                object-fit: contain;
              }
              .large-companies-qPA {
                font-weight: 500;
                line-height: 1.3333333333;
                text-transform: capitalize;
                color: #000000;
                font-family: Josefin Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 3.6rem;
              }
            }
          }
          .auto-group-stoj-ARS {
            margin-right: 7.6401rem;
            width: calc(100% - 7.6401rem);
            height: 5.3646rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .group-58-hwA {
              margin: 0rem 41.046rem 0.049rem 0rem;
              height: calc(100% - 0.0487rem);
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .mask-group-3k8 {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.7423rem;
                width: 4.612rem;
                height: 5.3159rem;
                position: relative;
              }
              .partnerships-Poz {
                line-height: 1.3333333333;
                text-transform: capitalize;
                color: #000000;
                font-family: Josefin Sans, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 3.6rem;
                font-weight: 500;
              }
            }
            .group-59-7jz {
              display: flex;
              align-items: flex-end;
              flex-shrink: 0;
              margin-top: 0.0487rem;
              height: calc(100% - 0.0487rem);

              .mask-group-TJ4 {
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.788rem;
                width: 4.612rem;
                height: 5.3159rem;
              }
              .self-employed-CWY {
                line-height: 1.3333333333;
                text-transform: capitalize;
                font-family: Josefin Sans, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 3.6rem;
                font-weight: 500;
                color: #000000;
                flex-shrink: 0;
                margin-bottom: 0.0159rem;
              }
            }
          }
        }
      }
      .what-we-do-KLG {
        margin-left: 6.1599rem;
        font-size: 6.4rem;
        text-transform: capitalize;
        color: #000000;
        font-weight: 500;
        line-height: 0.75;
        font-family: Josefin Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-cjze-Ey2 {
      align-items: flex-end;
      flex-shrink: 0;
      margin: 0rem 0rem 3.3rem 0.1rem;
      width: calc(100% - 0.1rem);
      height: 69.1rem;
      display: flex;

      .frame-1-Arg {
        overflow: hidden;
        height: 100%;
        position: relative;
        display: flex;
        align-items: flex-start;
        background-color: rgba(247, 194, 7, 0.150000006);
        margin-right: 169.1rem;
        box-sizing: border-box;
        padding: 4.6rem 23.7rem 1.3rem 13rem;
        flex-shrink: 0;

        .group-65-tXn {
          margin-right: 3.2rem;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 10.2rem;
          width: 24rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .mask-group-cig {
            height: 13rem;
            position: relative;
            flex-shrink: 0;
            margin-bottom: 2rem;
            width: 100%;

            .group-64-m5n {
              object-fit: contain;
              vertical-align: top;
              width: 8rem;
              height: 8rem;
              position: absolute;
              left: 8rem;
              top: 2.5rem;
            }
            .rectangle-16-6dr {
              width: 24rem;
              height: 13rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: rgba(248, 155, 54, 0.25);
            }
          }
          .bookkeeping-cs6 {
            font-size: 2.4rem;
            font-weight: 600;
            font-family: Josefin Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.6rem;
            text-transform: uppercase;
            color: #000000;
            line-height: 2;
          }
        }
        .auto-group-pcn8-w8g {
          margin-right: 3.4rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .group-65-UuJ {
            box-sizing: border-box;
            width: 24rem;
            align-items: center;
            display: flex;
            background-color: #ffffff;
            margin: 0rem 0rem 3.2rem 0.4rem;
            padding-bottom: 5.4rem;
            flex-direction: column;
            flex-shrink: 0;

            .mask-group-bj2 {
              margin-bottom: 2rem;
              width: 100%;
              height: 13rem;
              position: relative;
              flex-shrink: 0;

              .group-64-YuA {
                position: absolute;
                left: 8rem;
                top: 2.5rem;
                object-fit: contain;
                vertical-align: top;
                width: 8rem;
                height: 8rem;
              }
              .rectangle-16-Hbr {
                position: absolute;
                left: 0;
                top: 0;
                background-color: rgba(248, 155, 54, 0.25);
                width: 24rem;
                height: 13rem;
              }
            }
            .self-assessment-q7a {
              max-width: 16.1rem;
              line-height: 2;
              text-transform: uppercase;
              color: #000000;
              font-family: Josefin Sans, 'Source Sans Pro';
              flex-shrink: 0;
              margin-left: 1.9rem;
              font-size: 2.4rem;
              font-weight: 600;
            }
          }
          .group-65-wAc {
            box-sizing: border-box;
            padding-bottom: 10.2rem;
            align-items: center;
            display: flex;
            background-color: #ffffff;
            flex-shrink: 0;
            margin-right: 0.4rem;
            width: 24rem;
            flex-direction: column;

            .mask-group-sa4 {
              flex-shrink: 0;
              margin-bottom: 2rem;
              width: 100%;
              height: 13rem;
              position: relative;

              .group-64-q16 {
                height: 8rem;
                position: absolute;
                left: 8rem;
                top: 2.5rem;
                object-fit: contain;
                vertical-align: top;
                width: 8rem;
              }
              .rectangle-16-NWp {
                width: 24rem;
                height: 13rem;
                position: absolute;
                left: 0;
                top: 0;
                background-color: rgba(248, 155, 54, 0.25);
              }
            }
            .secretarial-7jJ {
              margin-right: 2.6rem;
              text-transform: uppercase;
              font-family: Josefin Sans, 'Source Sans Pro';
              flex-shrink: 0;
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 2;
              color: #000000;
              white-space: nowrap;
            }
          }
        }
        .auto-group-ksj4-25a {
          margin-right: 2.4rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .group-65-9R6 {
            box-sizing: border-box;
            width: 24rem;
            margin: 0rem 3.4rem 3.2rem 0rem;
            padding-bottom: 5.4rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            flex-shrink: 0;

            .mask-group-feL {
              margin-bottom: 2rem;
              width: 100%;
              height: 13rem;
              position: relative;
              flex-shrink: 0;

              .group-64-QM2 {
                width: 8rem;
                height: 8rem;
                position: absolute;
                left: 8rem;
                top: 2.5rem;
                object-fit: contain;
                vertical-align: top;
              }
              .rectangle-16-YCL {
                position: absolute;
                left: 0;
                top: 0;
                background-color: rgba(248, 155, 54, 0.25);
                width: 24rem;
                height: 13rem;
              }
            }
            .management-accounts-H9v {
              margin-left: 1.1rem;
              max-width: 18.3rem;
              font-weight: 600;
              color: #000000;
              font-size: 2.4rem;
              line-height: 2;
              text-transform: uppercase;
              font-family: Josefin Sans, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
          .group-65-aui {
            display: flex;
            box-sizing: border-box;
            padding-bottom: 10.2rem;
            width: 24rem;
            background-color: #ffffff;
            flex-shrink: 0;
            margin-left: 3.4rem;
            align-items: center;
            flex-direction: column;

            .mask-group-7Pr {
              width: 100%;
              height: 13rem;
              position: relative;
              flex-shrink: 0;
              margin-bottom: 2rem;

              .group-64-s88 {
                width: 8rem;
                height: 8rem;
                position: absolute;
                left: 8rem;
                top: 2.5rem;
                object-fit: contain;
                vertical-align: top;
              }
              .rectangle-16-oGg {
                width: 24rem;
                height: 13rem;
                position: absolute;
                left: 0;
                top: 0;
                background-color: rgba(248, 155, 54, 0.25);
              }
            }
            .vax-returs-YVA {
              margin-right: 4rem;
              font-weight: 600;
              line-height: 2;
              color: #000000;
              font-family: Josefin Sans, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 2.4rem;
              text-transform: uppercase;
              flex-shrink: 0;
            }
          }
        }
        .group-65-4Cc {
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 5.4rem;
          width: 24rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;

          .mask-group-CZi {
            flex-shrink: 0;
            margin-bottom: 2rem;
            width: 100%;
            height: 13rem;
            position: relative;

            .group-64-MSc {
              left: 8rem;
              top: 2.5rem;
              object-fit: contain;
              vertical-align: top;
              width: 8rem;
              height: 8rem;
              position: absolute;
            }
            .rectangle-16-69J {
              width: 24rem;
              height: 13rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: rgba(248, 155, 54, 0.25);
            }
          }
          .company-information-RSU {
            text-transform: uppercase;
            flex-shrink: 0;
            font-weight: 600;
            max-width: 17.9rem;
            font-size: 2.4rem;
            line-height: 2;
            color: #000000;
            font-family: Josefin Sans, 'Source Sans Pro';
            margin-right: 1.4rem;
          }
        }
      }
      .landlords-uMe {
        flex-shrink: 0;
        margin-bottom: 14.9rem;
        font-size: 2.4rem;
        line-height: 2;
        text-transform: capitalize;
        white-space: nowrap;
        font-weight: 500;
        color: #000000;
        font-family: Josefin Sans, 'Source Sans Pro';
      }
    }
    .auto-group-8eeg-S6g {
      display: flex;
      flex-direction: column;
      background: linear-gradient(180deg, rgba(148, 118, 212, 0) 35.94%, #7274b5 88.02%, rgba(114, 116, 181, 0.9999997616) 97.4%);
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0rem 25.7rem 22.1rem 28.2rem;
      width: 145.5rem;
      align-items: center;

      .image-18-ZSC {
        margin: 0rem 3.9rem 12.1rem 0rem;
        width: 28.5rem;
        height: 12.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .copyright-2019-numericalz-advisers-limited-all-rights-reserved-tUU {
        line-height: 2;
        text-transform: uppercase;
        color: #000000;
        font-family: Josefin Sans, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 600;
      }
    }
  }
}
