
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151rem;
}.desktop-2-tbE {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.desktop-2-tbE .auto-group-gljp-RLG {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 {
  margin: 5.1rem 246.2rem 0rem 0rem;
  width: 152.9rem;
  height: 163.6rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .pricing-services-resources-community-rwN {
  width: 39.9rem;
  height: 4.8rem;
  position: absolute;
  left: 13rem;
  top: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3;
  text-transform: uppercase;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .login-LLk {
  width: 5.4rem;
  height: 4.8rem;
  position: absolute;
  left: 113.9rem;
  top: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3;
  text-transform: uppercase;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-42-QLc {
  width: 10.8rem;
  height: 4.8rem;
  position: absolute;
  left: 126.3rem;
  top: 0;
  border-radius: 20rem;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-42-QLc .group-41-vpk {
  width: 10.8rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0.9rem;
  border-radius: 20rem;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-42-QLc .group-41-vpk .rectangle-9-GNp {
  width: 100%;
  height: 3rem;
  background-color: rgba(247, 131, 7, 0.7099999785);
  border-radius: 20rem;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-42-QLc  {
  width: 8.5rem;
  height: 4.8rem;
  position: absolute;
  left: 1.4rem;
  top: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3;
  text-transform: uppercase;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-97-px4 {
  box-sizing: border-box;
  padding: 0.5rem 60.2rem 0.5rem 64.8rem;
  width: 145.5rem;
  height: 57.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(247, 131, 7, 0.1599999964);
  border-radius: 0 0 30rem 0;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-97-px4 .image-5-x2g {
  width: 20.5rem;
  height: 17.1rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-45-57J {
  width: 15.3rem;
  height: 82.3rem;
  position: absolute;
  left: 13rem;
  top: 46.4rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  border-radius: 20rem;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-45-57J .group-44-c7E {
  margin-bottom: 72.1rem;
  width: 100%;
  border-radius: 20rem;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-45-57J .group-44-c7E .rectangle-10-97A {
  width: 100%;
  height: 5.4rem;
  background-color: #f89b36;
  border-radius: 20rem;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-45-57J .contact-us-5Wc {
  margin-right: 0.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.4;
  text-transform: uppercase;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .rectangle-12-muE {
  width: 145.5rem;
  height: 58.3rem;
  position: absolute;
  left: 0;
  top: 105.3rem;
  background-color: #ffffff;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-46-KQx {
  width: 121.7rem;
  height: 48.6rem;
  position: absolute;
  left: 13rem;
  top: 110.4rem;
  display: flex;
  align-items: flex-start;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-46-KQx .image-9-TGG {
  margin-right: 5.2rem;
  width: 66.5rem;
  height: 48.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-46-KQx .auto-group-m2uu-CDr {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-46-KQx .auto-group-m2uu-CDr .who-we-are-wSL {
  margin-bottom: 0.8rem;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 1;
  text-transform: capitalize;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-46-KQx .auto-group-m2uu-CDr .we-are-a-boutique-accountancy-firm-providing-best-in-class-services-to-clients-from-financial-services-hotel-and-catering-healthcare-retail-off-licenses-construction-and-engineering-information-technology-and-many-more-with-more-than-10-years-of-experience-our-professionals-are-experts-in-all-areas-sole-traders-subcontractors-self-assessment-accounts-personal-tax-returns-limited-companies-accounts-bookkeeping-management-accounts-cis-returns-vat-returns-etc-whether-you-are-self-employed-contractor-small-to-medium-enterprise-or-large-organization-we-are-committed-to-assist-you-with-our-differentiated-solutions-and-services-at-numericalz-we-believe-that-nobody-understands-your-business-better-than-you-do-and-wed-rather-be-your-partners-than-preachers-wed-be-privileged-to-embark-on-a-long-and-strong-journey-with-you-contact-us-today-for-a-free-consultation-and-lets-find-ways-to-make-accounting-a-smooth-sail-for-you-UBN {
  max-width: 50rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6025;
  color: #000000;
  font-family: Jomolhari, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-96-Arp {
  width: 136.2rem;
  height: 45.1rem;
  position: absolute;
  left: 16.7rem;
  top: 12rem;
  display: flex;
  align-items: center;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-96-Arp .numericalz-is-a-modern-accountancy-firm-committed-to-your-success-6kU {
  margin: 3.3rem 12rem 0rem 0rem;
  max-width: 71.9rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  color: #2e3192;
  font-family: Josefin Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-96-Arp .numericalz-is-a-modern-accountancy-firm-committed-to-your-success-6kU .numericalz-is-a-modern-accountancy-firm-committed-to-your-success-6kU-sub-0 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  color: #2e3192;
  font-family: Josefin Sans, 'Source Sans Pro';
  transform: translateX(-4rem);
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-96-Arp .numericalz-is-a-modern-accountancy-firm-committed-to-your-success-6kU .numericalz-is-a-modern-accountancy-firm-committed-to-your-success-6kU-sub-1 {
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-96-Arp .image-2-NrQ {
  width: 52.3rem;
  height: 45.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .contact-us-hdn {
  width: 13.1rem;
  height: 4.8rem;
  position: absolute;
  left: 14.1rem;
  top: 47rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4;
  text-transform: uppercase;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .numericalz-cEx {
  width: 28rem;
  height: 5.5rem;
  position: absolute;
  left: 61.7rem;
  top: 58.4rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.375;
  text-transform: uppercase;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-95-6R2 {
  width: 122.8rem;
  height: 55.8rem;
  position: absolute;
  left: 13.1rem;
  top: 57.1rem;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-95-6R2 .group-94-1nt {
  width: 122.8rem;
  height: 55.6rem;
  position: absolute;
  left: 0;
  top: 0.2rem;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-95-6R2 .group-94-1nt .image-21-m1N {
  width: 185.5rem;
  height: 48.3rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-95-6R2 .group-94-1nt .group-93-75E {
  width: 121.7rem;
  height: 33.4rem;
  position: absolute;
  left: 1.1rem;
  top: 14.6rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-95-6R2 .group-94-1nt .group-93-75E .group-90-dpG {
  margin-bottom: 2.6rem;
  width: 100%;
  height: 26rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-95-6R2 .group-94-1nt .group-93-75E .group-90-dpG .group-89-ydE {
  margin-right: 20.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-95-6R2 .group-94-1nt .group-93-75E .group-90-dpG .group-89-ydE .image-7-8FE {
  margin-right: 7.7rem;
  width: 38.9rem;
  height: 26rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-95-6R2 .group-94-1nt .group-93-75E .group-90-dpG .group-89-ydE .image-6-fW4 {
  width: 26rem;
  height: 26rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-95-6R2 .group-94-1nt .group-93-75E .group-90-dpG .image-8-cRJ {
  width: 28.8rem;
  height: 25.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-95-6R2 .group-94-1nt .group-93-75E .group-92-MNt {
  margin: 0rem 0.5rem 0rem 12.7rem;
  width: calc(100% - 13.2rem);
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-95-6R2 .group-94-1nt .group-93-75E .group-92-MNt .group-91-UCc {
  margin-right: 16.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-95-6R2 .group-94-1nt .group-93-75E .group-92-MNt .group-91-UCc .agility-Dfz {
  margin-right: 20.2rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.3333333333;
  text-transform: uppercase;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-95-6R2 .group-94-1nt .group-93-75E .group-92-MNt .group-91-UCc .adaptability-93r {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.3333333333;
  text-transform: uppercase;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-95-6R2 .group-94-1nt .group-93-75E .group-92-MNt .approachibility-TqE {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.3333333333;
  text-transform: uppercase;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-95-6R2 .line-7-C28 {
  width: 0.1rem;
  height: 48.2rem;
  position: absolute;
  left: 43.4rem;
  top: 0;
  background-color: #1e1e1e;
}
.desktop-2-tbE .auto-group-gljp-RLG .auto-group-7gmz-xb6 .group-95-6R2 .line-8-XKJ {
  width: 0.1rem;
  height: 48.2rem;
  position: absolute;
  left: 83.8rem;
  top: 0;
  background-color: #1e1e1e;
}
.desktop-2-tbE .auto-group-gljp-RLG .rectangle-11-TTr {
  margin-right: 89.4rem;
  width: 145.5rem;
  height: 39rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-gljp-RLG .image-3-b4G {
  margin-top: 45.7rem;
  width: 52.2rem;
  height: 48.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg {
  box-sizing: border-box;
  padding-bottom: 5.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG {
  margin: 0rem 19.16rem 2.3rem 12.9rem;
  width: calc(100% - 32.0599rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .who-we-help-nPe {
  margin: 0rem 0rem 5.9rem 10.26rem;
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 0.75;
  text-transform: capitalize;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha {
  margin-bottom: 6.6841rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-iivg-Sj6 {
  width: 100%;
  height: 12.1311rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-iivg-Sj6 .auto-group-fqec-PeL {
  margin-right: 12.9457rem;
  width: 61.6543rem;
  height: 11.5768rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-iivg-Sj6 .auto-group-fqec-PeL .individuals-freelancers-KXz {
  width: 55.3rem;
  height: 4.8rem;
  position: absolute;
  left: 6.3543rem;
  top: 0;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.3333333333;
  text-transform: capitalize;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-iivg-Sj6 .auto-group-fqec-PeL .group-52-dHn {
  width: 40.9543rem;
  height: 5.3159rem;
  position: absolute;
  left: 0;
  top: 6.2609rem;
  display: flex;
  align-items: flex-start;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-iivg-Sj6 .auto-group-fqec-PeL .group-52-dHn .mask-group-Yfe {
  margin-right: 1.7423rem;
  width: 4.612rem;
  height: 5.3159rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-iivg-Sj6 .auto-group-fqec-PeL .group-52-dHn .subcontractors-HNL {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.3333333333;
  text-transform: capitalize;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-iivg-Sj6 .auto-group-fqec-PeL .group-88-DWt {
  margin: 0rem 1.528rem 0.184rem 0rem;
  width: 4.612rem;
  height: 5.3159rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0

}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-iivg-Sj6 .auto-group-7k6g-YJG {
  margin-bottom: 0.0311rem;
  width: 44.3401rem;
  height: calc(100% - 0.0311rem);
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-iivg-Sj6 .auto-group-7k6g-YJG .group-51-5JC {
  margin-bottom: 1.0543rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-iivg-Sj6 .auto-group-7k6g-YJG .group-51-5JC .mask-group-dac {
  margin: 0rem 1.528rem 0.184rem 0rem;
  width: 4.612rem;
  height: 5.3159rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-iivg-Sj6 .auto-group-7k6g-YJG .group-51-5JC .limited-companies-ZDN {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.3333333333;
  text-transform: capitalize;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-iivg-Sj6 .auto-group-7k6g-YJG .group-53-5xQ {
  margin-right: 11.2401rem;
  width: calc(100% - 11.2401rem);
  display: flex;
  align-items: flex-end;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-iivg-Sj6 .auto-group-7k6g-YJG .group-53-5xQ .mask-group-2ck {
  margin: 0rem 1.488rem 0.23rem 0rem;
  width: 4.612rem;
  height: 5.3159rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-iivg-Sj6 .auto-group-7k6g-YJG .group-53-5xQ .sale-traders-m4Y {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.3333333333;
  text-transform: capitalize;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-qk1i-hD6 {
  box-sizing: border-box;
  padding-top: 1.2689rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-qk1i-hD6 .auto-group-zgu2-2mA {
  margin: 0rem 15.14rem 1.89rem 0rem;
  width: calc(100% - 15.1401rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-qk1i-hD6 .auto-group-zgu2-2mA .group-54-mTr {
  margin: 0.385rem 49.2rem 0rem 0rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-qk1i-hD6 .auto-group-zgu2-2mA .group-54-mTr .mask-group-Jya {
  margin-right: 1.788rem;
  width: 4.612rem;
  height: 5.3159rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-qk1i-hD6 .auto-group-zgu2-2mA .group-54-mTr .start-ups-rEQ {
  margin-top: 0.115rem;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.3333333333;
  text-transform: capitalize;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-qk1i-hD6 .auto-group-zgu2-2mA .group-60-aRJ {
  margin-bottom: 0.385rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-qk1i-hD6 .auto-group-zgu2-2mA .group-60-aRJ .mask-group-XrL {
  margin-right: 1.488rem;
  width: 4.612rem;
  height: 5.3159rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-qk1i-hD6 .auto-group-zgu2-2mA .group-60-aRJ .landlords-5cx {
  margin-bottom: 0.0159rem;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.3333333333;
  text-transform: capitalize;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-qk1i-hD6 .auto-group-aynl-QfE {
  margin: 0rem 1.686rem 2.235rem 0rem;
  width: calc(100% - 1.6857rem);
  height: 5.3249rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-qk1i-hD6 .auto-group-aynl-QfE .group-55-8bE {
  margin: 0rem 11.746rem 0.009rem 0rem;
  height: calc(100% - 0.0091rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-qk1i-hD6 .auto-group-aynl-QfE .group-55-8bE .mask-group-4zg {
  margin-right: 1.7423rem;
  width: 4.612rem;
  height: 5.3159rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-qk1i-hD6 .auto-group-aynl-QfE .group-55-8bE .small-medium-businesses-QHr {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.3333333333;
  text-transform: capitalize;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-qk1i-hD6 .auto-group-aynl-QfE .group-57-LSQ {
  margin-top: 0.0091rem;
  height: calc(100% - 0.0091rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-qk1i-hD6 .auto-group-aynl-QfE .group-57-LSQ .mask-group-VKJ {
  margin-right: 1.7423rem;
  width: 4.612rem;
  height: 5.3159rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-qk1i-hD6 .auto-group-aynl-QfE .group-57-LSQ .large-companies-qPA {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.3333333333;
  text-transform: capitalize;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-qk1i-hD6 .auto-group-stoj-ARS {
  margin-right: 7.6401rem;
  width: calc(100% - 7.6401rem);
  height: 5.3646rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-qk1i-hD6 .auto-group-stoj-ARS .group-58-hwA {
  margin: 0rem 41.046rem 0.049rem 0rem;
  height: calc(100% - 0.0487rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-qk1i-hD6 .auto-group-stoj-ARS .group-58-hwA .mask-group-3k8 {
  margin-right: 1.7423rem;
  width: 4.612rem;
  height: 5.3159rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-qk1i-hD6 .auto-group-stoj-ARS .group-58-hwA .partnerships-Poz {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.3333333333;
  text-transform: capitalize;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-qk1i-hD6 .auto-group-stoj-ARS .group-59-7jz {
  margin-top: 0.0487rem;
  height: calc(100% - 0.0487rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-qk1i-hD6 .auto-group-stoj-ARS .group-59-7jz .mask-group-TJ4 {
  margin-right: 1.788rem;
  width: 4.612rem;
  height: 5.3159rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .group-61-tha .auto-group-qk1i-hD6 .auto-group-stoj-ARS .group-59-7jz .self-employed-CWY {
  margin-bottom: 0.0159rem;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.3333333333;
  text-transform: capitalize;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .group-62-TcG .what-we-do-KLG {
  margin-left: 6.1599rem;
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 0.75;
  text-transform: capitalize;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 {
  margin: 0rem 0rem 3.3rem 0.1rem;
  width: calc(100% - 0.1rem);
  height: 69.1rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg {
  margin-right: 169.1rem;
  box-sizing: border-box;
  padding: 4.6rem 23.7rem 1.3rem 13rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: rgba(247, 194, 7, 0.150000006);
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .group-65-tXn {
  margin-right: 3.2rem;
  box-sizing: border-box;
  padding-bottom: 10.2rem;
  width: 24rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .group-65-tXn .mask-group-cig {
  margin-bottom: 2rem;
  width: 100%;
  height: 13rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .group-65-tXn .mask-group-cig .group-64-m5n {
  width: 8rem;
  height: 8rem;
  position: absolute;
  left: 8rem;
  top: 2.5rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .group-65-tXn .mask-group-cig .rectangle-16-6dr {
  width: 24rem;
  height: 13rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(248, 155, 54, 0.25);
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .group-65-tXn .bookkeeping-cs6 {
  margin-right: 0.6rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2;
  text-transform: uppercase;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .auto-group-pcn8-w8g {
  margin-right: 3.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .auto-group-pcn8-w8g .group-65-UuJ {
  margin: 0rem 0rem 3.2rem 0.4rem;
  box-sizing: border-box;
  padding-bottom: 5.4rem;
  width: 24rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .auto-group-pcn8-w8g .group-65-UuJ .mask-group-bj2 {
  margin-bottom: 2rem;
  width: 100%;
  height: 13rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .auto-group-pcn8-w8g .group-65-UuJ .mask-group-bj2 .group-64-YuA {
  width: 8rem;
  height: 8rem;
  position: absolute;
  left: 8rem;
  top: 2.5rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .auto-group-pcn8-w8g .group-65-UuJ .mask-group-bj2 .rectangle-16-Hbr {
  width: 24rem;
  height: 13rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(248, 155, 54, 0.25);
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .auto-group-pcn8-w8g .group-65-UuJ .self-assessment-q7a {
  margin-left: 1.9rem;
  max-width: 16.1rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2;
  text-transform: uppercase;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .auto-group-pcn8-w8g .group-65-wAc {
  margin-right: 0.4rem;
  box-sizing: border-box;
  padding-bottom: 10.2rem;
  width: 24rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .auto-group-pcn8-w8g .group-65-wAc .mask-group-sa4 {
  margin-bottom: 2rem;
  width: 100%;
  height: 13rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .auto-group-pcn8-w8g .group-65-wAc .mask-group-sa4 .group-64-q16 {
  width: 8rem;
  height: 8rem;
  position: absolute;
  left: 8rem;
  top: 2.5rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .auto-group-pcn8-w8g .group-65-wAc .mask-group-sa4 .rectangle-16-NWp {
  width: 24rem;
  height: 13rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(248, 155, 54, 0.25);
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .auto-group-pcn8-w8g .group-65-wAc .secretarial-7jJ {
  margin-right: 2.6rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2;
  text-transform: uppercase;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .auto-group-ksj4-25a {
  margin-right: 2.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .auto-group-ksj4-25a .group-65-9R6 {
  margin: 0rem 3.4rem 3.2rem 0rem;
  box-sizing: border-box;
  padding-bottom: 5.4rem;
  width: 24rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .auto-group-ksj4-25a .group-65-9R6 .mask-group-feL {
  margin-bottom: 2rem;
  width: 100%;
  height: 13rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .auto-group-ksj4-25a .group-65-9R6 .mask-group-feL .group-64-QM2 {
  width: 8rem;
  height: 8rem;
  position: absolute;
  left: 8rem;
  top: 2.5rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .auto-group-ksj4-25a .group-65-9R6 .mask-group-feL .rectangle-16-YCL {
  width: 24rem;
  height: 13rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(248, 155, 54, 0.25);
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .auto-group-ksj4-25a .group-65-9R6 .management-accounts-H9v {
  margin-left: 1.1rem;
  max-width: 18.3rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2;
  text-transform: uppercase;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .auto-group-ksj4-25a .group-65-aui {
  margin-left: 3.4rem;
  box-sizing: border-box;
  padding-bottom: 10.2rem;
  width: 24rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .auto-group-ksj4-25a .group-65-aui .mask-group-7Pr {
  margin-bottom: 2rem;
  width: 100%;
  height: 13rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .auto-group-ksj4-25a .group-65-aui .mask-group-7Pr .group-64-s88 {
  width: 8rem;
  height: 8rem;
  position: absolute;
  left: 8rem;
  top: 2.5rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .auto-group-ksj4-25a .group-65-aui .mask-group-7Pr .rectangle-16-oGg {
  width: 24rem;
  height: 13rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(248, 155, 54, 0.25);
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .auto-group-ksj4-25a .group-65-aui .vax-returs-YVA {
  margin-right: 4rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2;
  text-transform: uppercase;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .group-65-4Cc {
  box-sizing: border-box;
  padding-bottom: 5.4rem;
  width: 24rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .group-65-4Cc .mask-group-CZi {
  margin-bottom: 2rem;
  width: 100%;
  height: 13rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .group-65-4Cc .mask-group-CZi .group-64-MSc {
  width: 8rem;
  height: 8rem;
  position: absolute;
  left: 8rem;
  top: 2.5rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .group-65-4Cc .mask-group-CZi .rectangle-16-69J {
  width: 24rem;
  height: 13rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(248, 155, 54, 0.25);
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .frame-1-Arg .group-65-4Cc .company-information-RSU {
  margin-right: 1.4rem;
  max-width: 17.9rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2;
  text-transform: uppercase;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-cjze-Ey2 .landlords-uMe {
  margin-bottom: 14.9rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2;
  text-transform: capitalize;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-8eeg-S6g {
  box-sizing: border-box;
  padding: 0rem 25.7rem 22.1rem 28.2rem;
  width: 145.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(148, 118, 212, 0) 35.94%, #7274b5 88.02%, rgba(114, 116, 181, 0.9999997616) 97.4%);
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-8eeg-S6g .image-18-ZSC {
  margin: 0rem 3.9rem 12.1rem 0rem;
  width: 28.5rem;
  height: 12.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-tbE .auto-group-7mpa-ieg .auto-group-8eeg-S6g .copyright-2019-numericalz-advisers-limited-all-rights-reserved-tUU {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2;
  text-transform: uppercase;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
